* {
	margin:0;
	padding:0;
	font-size:12px;
	
	line-height:1.5;
	box-sizing:border-box;
	
	vertical-align:middle;
}

body {
	width:12.5rem;
	border:solid 1px #fff;
	
	background-color:#333;
	color:#ccc;
}

html[env="chrome"] {
	height:17.25em;
}
html[env="chrome"][isOpen="true"] {
	height:25.25em;
}

#main {
	width:100%;
	padding:0.25rem;
}
#main >dt {
	margin:0.5rem 0 0;
}
#main >dt:first-of-type {
	margin:0;
}
#main >dt, #main >dd {
	width:100%;
}
#mainKey, #siteKey, #password {
	width:100%;
}
#password {
	height:2.5rem;
}
#copied {
	height:1.5rem;
	text-align:right;
	font-style:italic;
}
#isSavremaseterKey {
	margin:0 0.5rem;
}
#advSettingLink {
	float:right;
	cursor:default;
	color:#99f;
}
#advSettingLink:hover {
	color:#9ff;
}
#advSetting {
	background-color:#666;
	color:#fff;
	margin:0;
	
	display:none;
}
html[isOpen='true'] #advSetting {
	display:block;
}
#advSetting >dt, #advSetting >dd {
	width:100%;
}
#size {
	width:80%;
}
#sizeValue {
	width:15%;
	text-align:center;
}
